Flask
Flask-Cors
hana-ml
IPython
hdbcli
configparser
uwsgi
generative-ai-hub-sdk
langchain
langchain-core
langchain-community
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-aiplatform
langchain-google-vertexai
langchain-openai
langchain-aws
sql_formatter
aioboto3